<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/mystyle.css" />
</head>
<body>
    <div id="div-top">
        <!-- Grey with black text -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px 20px;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Categories")">PRODUCT STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Products")">ADMIN PRODUCT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "CustomerProducts")">
                        CUSTOMER PRODUCT
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
            <div class="ms-auto">
                @Html.Action("CartPartial", "Cart")
            </div>
        </nav>
    </div>
    <br />
    <div id="div-main">
        <div id="div-left">
            <h3>Danh mục sản phẩm</h3>
            <ul style="list-style: none">
                <li>
                    <a href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                </li>
                <li>
                    <a href="@Url.Action("DesktopComputer", "Home")">Máy tính để bàn</a>
                </li>
                <li>
                    Điện thoại
                </li>
                <li>
                    Phụ kiện
                </li>
            </ul>
        </div>
        <div id="div-right">
            @RenderBody()
        </div>
    </div>
    <div id="div-footer">
        Footer
    </div>
</body>
</html>